<h4 class=" mb-4">
  <span>Stats</span>
</h4>
<div class="row" data-controller='stats'>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				7 Days Views
			</div>
			<div class="card-body">
				<canvas id="page-views" width="400" height="400" data-labels="<%= @count_by_date_labels %>" data-data= "<%= @count_by_date_data %>"></canvas>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">
				7 Days Unique Views
			</div>
			<div class="card-body">
				<canvas id="unique-page-views" width="400" height="400" data-labels="<%= @unique_count_by_date_labels %>" data-data= "<%= @unique_count_by_date_data %>"></canvas>
			</div>
		</div>
	</div>
</div>