.readers.home.index {
	.post-card{
		height: 550px;
		.header-image{
			height: 230px;
			background-size: cover;
			background-position: center;
		}
	}
}

.readers.posts.show {
	.post-card{
		.header-image{
			height: 350px;
			background-size: cover;
			background-position: center;
		}
		.image-element{
	    text-align: center;
	    img {
	      max-width: 80%;
	    }
	  }
	}
}