<div class="row">
  <div class="col-md-4">
    <%= link_to 'Back', posts_path , class: 'btn btn-dark mb-3'%>
    <div class="card">
      <div class="card-header">
        <h6 class="card-title mb-0">Editing Post</h6>
      </div>
      <div class="card-body">
        <%= render 'form', post: @post %>
      </div>
      <div class="card-footer">
        <% if @post.published? %>
          <a class="btn btn-secondary btn-block" 
            data-reflex='click->PublisherReflex#unpublish'
            data-post-id='<%= @post.id %>'>Unpublish</a>
        <% else %>
          <a class="btn btn-dark btn-block" 
            data-reflex='click->PublisherReflex#publish'
            data-post-id='<%= @post.id %>'>Publish</a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="mb-3">
      <%= form_with(model: [@post, @element], html: {class: 'float-left mr-1'}) do |form| %>
        <%= form.hidden_field :element_type, value: 'paragraph'%>
        <%= form.button(type: 'submit', class: 'btn btn-secondary') do %>
          <i class="fas fa-paragraph"></i>
        <% end %>
      <% end %>

      <%= form_with(model: [@post, @element]) do |form| %>
        <%= form.hidden_field :element_type, value: 'image'%>
        <%= form.button(type: 'submit', class: 'btn btn-secondary') do %>
          <i class="fas fa-image"></i>
        <% end %>
      <% end %>
    </div>
    <div class="card mb-5">
      <div class="card-header text-right">
        <% if @post.published? %>
          <b>Published</b> <%= time_ago_in_words(@post.published_at) %> ago
        <% else %>
          Unpublished
        <% end %>
      </div>
      <div class="card-body pt-5" data-controller="elements">
        <% if @post.elements.none? {|element| element.persisted? } %>
          <div class="p-5 text-center">
            <h2 class="text-secondary">
              <i class="fas fa-lightbulb"></i>
            </h2>
            <p>
              Click the icons above to add elements to this post.
            </p>
          </div>
        <% else %>
          <ul id="elements" data-action="drop->elements#sort">
            <% @post.elements.order(position: :asc).each do |element|%>
              <% if element.persisted? %>
                <li class="element-item" data-id="<%= element.id %>" >
                  <% if element.paragraph? %>
                    <div class="mb-4 p-3 paragraph">
                      <div class="paragraph-content">
                        <% if element.content.present? %>
                          <%= element.content %>
                        <% else %>
                          Click to add Content
                        <% end %>
                      </div>
                      <div class="paragraph-form d-none" id="element-<%= element.id %>-form">
                        <%= form_with(model: [@post, element]) do |form| %>
                          <%= form.rich_text_area :content %>
                          <div class="mt-3 d-flex justify-content-between">
                            <div class="">
                              <%= form.submit "Save" , class: 'btn btn-primary'%>
                              <a class="cancel btn btn-secondary">Cancel</a>
                            </div>
                            <%= link_to("Delete", post_element_path(@post, element), method: :delete,
                               class: 'btn btn-danger', data: { confirm: "Are you sure?"})%>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <% elsif element.image? %>
                      <div class="mb-4 p-3 image">
                        <% if element.image.present? %>
                          <%= link_to(post_element_path(@post, element), method: :delete,
                               class: 'delete-btn btn btn-dark mt-2 float-right', data: { confirm: "Are you sure?"}) do %>
                            <i class="fas fa-times"></i>
                          <% end %>                        
                          <%= image_tag(element.image)%>                      
                        <% else %>
                          <%= form_with(model: [@post, element]) do |form| %>
                            <%= form.file_field :image %>
                            <div class="mt-3">
                              <%= form.submit "Save" , class: 'btn btn-primary'%>
                              <a class="cancel btn btn-secondary">Cancel</a>
                            </div>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
