<div class="row">
  <div class="col-md-4">
		<%= link_to 'Back', posts_path, class: 'btn btn-dark mb-3' %>
		<div class="card">
      <div class="card-header">
        <h6 class="card-title mb-0">New Post</h6>
      </div>
			<div class="card-body">
				<%= render 'form', post: @post %>
			</div>
		</div>
	</div>
</div>

